@font-face {
font-family: Novecentosanswide-Bold;
src: url("fonts/Novecentosanswide-Bold.ttf") format("truetype");
}
@font-face {
font-family: Novecentosanswide-Book;
src: url("fonts/Novecentosanswide-Book.ttf") format("truetype");
}
@font-face {
font-family: Novecentosanswide-DemiBold;
src: url("fonts/Novecentosanswide-DemiBold.ttf") format("truetype");
}
@font-face {
font-family: Novecentosanswide-Light;
src: url("fonts/Novecentosanswide-Light.ttf") format("truetype");
}
@font-face {
font-family: Novecentosanswide-Medium;
src: url("fonts/Novecentosanswide-Medium.ttf") format("truetype");
}
@font-face {
font-family: Novecentosanswide-Normal;
src: url("fonts/Novecentosanswide-Normal.ttf") format("truetype");
}
@font-face {
font-family: Lato-Light;
src: url("fonts/Lato-Light.ttf") format("truetype");
}
